<%- title "Team" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <section class="widget">
            <header>
                <h4><i class="fa fa-group"></i> Start New Team</h4>
            </header>
            <div class="body">
                <%= simple_form_for(@team, :as => @team, :html => {class: "form-horizontal label-left", :method => :post}) do |f| %>
                    <fieldset>
                        <%= f.input :name, required: true, autofocus: true, input_html: {class: "col-md-12"}  %>
                        <br>
                        <%= f.input :color, required: true, label: "Shirt Color", collection: Team::COLORS, input_html: {class: "chzn-select select-block-level"}, selected: @team.color %>
                    </fieldset>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                        <%= link_to "Cancel", @team, class: "btn btn-default"%>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>