<%- title "Team" %>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Team <%= @team.name %>
                            <%= link_to "<i class='fa fa-pencil-square-o'></i>&nbsp;&nbsp;Edit".html_safe, edit_team_path(@team), class: "btn btn-danger" if @team.captain == current_user %>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <%= image_tag "#{@team.color}.png", :size => "60x52", style: "margin-right:30px" %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part4"><i class="fa fa-thumbs-up"></i></span><br>
            <span class="part1"><strong><%= @team.wins %></strong> wins</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part4"><i class="fa fa-thumbs-down"></i></span><br>
            <span class="part1"><strong><%= @team.losses %></strong> losses</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part4"><i class="fa fa-trophy"></i></span><br>
            <span class="part1"><strong><%= @team.points %></strong> points</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part1"><i class="fa fa-shield"></i> <strong>Captain</strong></span><br>
            <span class="part1"><%= "#{@team.captain.first_name} #{@team.captain.last_name}"%></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
            <header>
                <h4><i class="fa fa-group"></i> Players</h4>
            </header>
            <div class="body">
                <table class="table table-striped table-bordered table-responsive" style="text-align:center;">
                    <tbody>
                        <% @team.users.order(position: :asc).each do |player| %>
                            <tr>            
                                <td><%= player.gender == 0 ? "<i class='fa fa-male fa-2x'></i>".html_safe : "<i class='fa fa-female fa-2x'></i>".html_safe  %></td>
                                <td><%= link_to "#{player.first_name} #{player.last_name}", player %></td>
                                <td><%= RoleHelper.user_position(player.position) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
            <header>
                <h4><i class="fa fa-flag"></i> Games</h4>
            </header>
            <div class="body">
                <table class="table table-striped table-bordered table-responsive" style="text-align:center;">
                    <tbody>
                        <%= "Your team hasn't played any game yet!" if @games.empty? %>
                        <% @games.each do |game| %>
                            <tr style="text-align:center"> 
                                <td><%= link_to "#{game.time.strftime('%b %d %Y')}", game %></td>
                                <td><%= game.home.name %></td>
                                <td><%= game.away.name %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% if @team.captain == current_user %>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="widget">
                <header>
                    <h4><i class="fa fa-user"></i> Invite Player</h4>
                </header>
                <div class="body">
                    <%= simple_form_for(@invitation, url: invitation_teams_path, :html => {class: "form-horizontal label-left", :method => :post, novalidate: "novalidate"}) do |f| %>
                        <fieldset>
                            <%= f.input :email, autofocus: true, input_html: {class: "col-md-12", type: "email", required: 'true', "data-parsley-trigger" => "change"}  %>

                            <%= f.input :team_id, as: :hidden, input_html: {value: @team.id}  %>
                        </fieldset>
                        <br>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                            <%= link_to "Cancel", @team, class: "btn btn-default"%>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>