<%- message_type "col-md-4 col-md-offset-4" %>
<div class="row" style="margin-top:50px">
  <div class="col-md-4 col-md-offset-4">
    <section class="widget login-widget">
      <header class="text-align-center">
          <h3>Change your password</h3>
      </header>
      <div class="body">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <div class="form-group">
                <div class="input-group input-group-lg no-margin">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                    <%= f.input :password, label: false do %>
                        <input id="user_password" type="password" name="user[password]" class="form-control input-lg"
                           placeholder="Your Password">
                    <% end %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                    <%= f.input :password_confirmation, label: false do %>
                        <input id="user_password_confirmation" type="password" name="user[password_confirmation]" class="form-control input-lg"
                           placeholder="Your Password Confirmation">
                    <% end %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                    <%= f.input :current_password, label: false do %>
                        <input id="user_password_current_password" type="password" name="user[current_password]" class="form-control input-lg"
                           placeholder="Your Current Password">
                    <% end %>
                </div>
            </div>
            <div class="form-actions" style="height:100px">
              <button type="submit" class="btn btn-block btn-lg btn-danger">
                  <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                  <small>Change my password</small>
              </button>
            </div>
          </fieldset>  
        <% end %>
      </div>
    </section>
  </div>
</div>

