<%- message_type "col-md-4 col-md-offset-4" %>

<div class="row" style="margin-top:50px">
    <div class="col-md-4 col-md-offset-4">
        <section class="widget login-widget">
            <header class="text-align-center">
                <h3>Sign Up</h3>
            </header>
            <div class="body">
                <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "no-margin"}) do |f| %>
                    <fieldset>
                        <div class="form-group no-margin">
                            <label for="email" >Email</label>

                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                <%= f.input :email, label: false do %>
                                    <input id="user_email" type="email" name="user[email]" autofocus="autofocus" class="form-control input-lg"
                                       placeholder="Your Email">
                                <% end %>
                            </div>

                        </div>

                        <div class="form-group no-margin">
                            <label for="password" >Password</label>

                            <div class="input-group input-group-lg no-margin">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                <%= f.input :password, label: false do %>
                                    <input id="user_password" type="password" name="user[password]" class="form-control input-lg"
                                       placeholder="Your Password">
                                <% end %>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="user_password_confirmation" >Password Confirmation</label>

                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                <%= f.input :password_confirmation, label: false do %>
                                    <input id="user_password_confirmation" type="password" name="user[password_confirmation]" class="form-control input-lg"
                                       placeholder="Your Password Confirmation">
                                <% end %>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Sign Up</small>
                        </button>
                        <div class="forgot">
    						<%- if controller_name != 'sessions' %>
    						  <%= link_to "You already have an account?", new_session_path(resource_name) %>
    						<% end -%>
    					</div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>