<%= content_for :header do %>
    <style>
        body {
          background: #fff;
          font-family: "rooney-sans"
        }
    </style>
<% end %>

<div class="content">
        <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="animated fadeInLeftBig">
                                <h1 class="reverse slide-one-header"><strong>Soccerty</strong> <br></h1>
                                <p class="lead reverse">
                                    Vancouver Recreational Soccer
                                </p>
                                <p class="reverse" style="font-size:15px;">
                                    We organize fun and enjoyable recreational soccer leagues. Signup to our mailing list to be first to know when we launch our first league.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-align-center fadeInRightBig hidden-xs">
                                <%= image_tag "logo.png", height: "300" %>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="body">
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="//soccerty.us3.list-manage.com/subscribe/post?u=02da55d15fb805d2dc8432696&amp;id=880a496aa6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_02da55d15fb805d2dc8432696_880a496aa6" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
                    <% render "series/table", series: Serie.where("status < 2").where("start > '#{Time.now}'") %>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="lead reverse text-align-center">
    <%= link_to raw("<i class='fa fa-facebook-square'></i> like us on Facebook"), "https://www.facebook.com/s0ccerty", :target => '_blank'%>
</div>

<br>
<p class="lead reverse text-align-center">
  © <%= Time.now.strftime("%Y") %> Soccerty. All rights reserved.
</p>
<div class="row">
    <p class="lead text-align-center"><a class="reverse" href="#"> back to top <i class="fa fa-angle-up"></i></a></p>
</div>
