<%- title "Tell us more about yourself" %>
<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="widget">
            <header>
                <h4><i class="fa fa-info"></i> Info</h4>
            </header>
            <hr>
            <div class="body">
                <%= simple_form_for(@user, :as => @user, url: first_update_users_path(id: @user.id), :html => {class: "form-horizontal", :method => :put, 'data-validate' => "parsley", novalidate: "novalidate"}) do |f| %>
                    <%= render 'shared/errors', object: f.object %>                     
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">Position</label>
                                <div class="controls form-group">
                                    <div class="btn-group" data-toggle="buttons" required="required">
                                        <label class="btn <%= @user.position == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[position]" type="radio" value="0"> Goalie 
                                        </label>
                                        <label class="btn <%= @user.position == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[position]" type="radio" value="1"> Defender 
                                        </label>
                                        <label class="btn <%= @user.position == 2 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[position]" type="radio" value="2"> Midfielder
                                        </label>
                                        <label class="btn <%= @user.position == 3 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[position]" type="radio" value="2"> Striker
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Skill Level</label>
                                <div class="controls form-group">
                                    <div class="btn-group" data-toggle="buttons" required="required">
                                        <label class="btn <%= @user.level == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[level]" type="radio" value="0"> Amateur 
                                        </label>
                                        <label class="btn <%= @user.level == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[level]" type="radio" value="1"> Good 
                                        </label>
                                        <label class="btn <%= @user.level == 2 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="user[level]" type="radio" value="2"> Professional
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <%= f.input :first_name, placeholder: "Your first name", input_html: {class: "col-md-12", required: "required"}, label: "First Name" %>
                            <br>
                            <%= f.input :last_name, placeholder: "Your last name", input_html: {class: "col-md-12", required: "required"}, label: "Last Name" %>
                            <br>                        
                            <div class="control-group">
                                <label class="control-label">Gender</label>
                                <div class="controls form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn <%= @user.gender == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="user[gender]" value="0"> &nbsp; Male &nbsp;
                                        </label>
                                        <label class="btn <%= @user.gender == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="user[gender]" value="1"> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    <div class="description">
                        <ul class="pager wizard">
                            <li class="finish">
                                <button class="btn btn-success pull-right" >Finish <i class="fa fa-check"></i></button>
                            </li>
                        </ul>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>

<% content_for :bottom do %>
    <script>
        $(function () {
            $(".btn-group > .btn[data-toggle-class]").click(function(){
                var $this = $(this),
                    isRadio = $this.find('input').is('[type=radio]'),
                    $parent = $this.parent();

                if (isRadio){
                    $parent.children(".btn[data-toggle-class]").removeClass(function(){
                        return $(this).data("toggle-class")
                    }).addClass(function(){
                            return $(this).data("toggle-passive-class")
                        });
                    $this.removeClass($(this).data("toggle-passive-class")).addClass($this.data("toggle-class"));
                } else {
                    $this.toggleClass($(this).data("toggle-passive-class")).toggleClass($this.data("toggle-class"));
                }
            });
            $("#wizard").bootstrapWizard({
                onTabClick: function(tab, navigation, index) {
                    return false;
                },
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index+1;
                    var $percent = ($current/$total) * 100;
                    var $wizard = $("#wizard");
                    $wizard.find('.progress-bar').css({width:$percent+'%'});

                    if($current >= $total) {
                        $wizard.find('.pager .next').hide();
                        $wizard.find('.pager .finish').show();
                        $wizard.find('.pager .finish').removeClass('disabled');
                    } else {
                        $wizard.find('.pager .next').show();
                        $wizard.find('.pager .finish').hide();
                    }
                },
                onNext: function(tab, navigation, index) {
                    if(index==2) {
                        if (!$('#user_first_name').parsley('validate') || !$('#user_last_name').parsley('validate')) return false;
                    } 
                }
            });
        });
    </script>
<% end %>
