<%- title "Profile" %>
<%- page_category "Account" %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <section class="widget">
            <header>
                <h4><i class="fa fa-edit"></i> Edit Profile</h4>
            </header>
            <div class="body">
                <%= simple_form_for(@user, :as => @user, :html => {class: "form-horizontal label-left", :method => :put, :multipart => true }) do |f| %>
                    <fieldset>
                        <legend class="section">Personal Info</legend>
                        <%= f.input :first_name, placeholder: "Your first name", input_html: {class: "col-md-12"}, label: "First Name" %>
                        <br>
                        <%= f.input :last_name, placeholder: "Your last name", input_html: {class: "col-md-12"}, label: "Last Name" %>
                        <br>                        
                        <div class="control-group">
                            <label class="control-label">Gender</label>
                            <div class="controls form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn <%= @user.gender == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="user[gender]" value="0"> &nbsp; Male &nbsp;
                                    </label>
                                    <label class="btn <%= @user.gender == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="user[gender]" value="1"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="section">Player Profile</legend>
                        <%= f.input :position, label: "Favorite position", collection: {goalie: 0, defender: 1, midfielder: 2, striker: 3}, input_html: {class: "chzn-select select-block-level"}, selected: @user.position %>
                        <br>
                        <div class="control-group">
                            <label class="control-label">Skill Level</label>
                            <div class="controls form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn <%= @user.level == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input name="user[level]" type="radio" value="0"> Amateur 
                                    </label>
                                    <label class="btn <%= @user.level == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input name="user[level]" type="radio" value="1"> Good 
                                    </label>
                                    <label class="btn <%= @user.level == 2 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input name="user[level]" type="radio" value="2"> Professional
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="section"></legend>
                        <%= link_to "I would like to change my password", edit_user_registration_path %>
                    </fieldset>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                        <%= link_to "Cancel", @user, class: "btn btn-default"%>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
    <div class="col-md-4 col-sm-12">
        <section class="widget">
            <header>
                <h4><i class="fa fa-picture-o"></i> Profile Picture</h4>
            </header>
            <div class="body">
                <%= simple_form_for(@user, :as => @user, :html => {id: "profile_picture", class: "form-horizontal label-left", :method => :put, :multipart => true }) do |f| %>
                    <fieldset>
                            <% unless @user.picture.url.nil? %> 
                                <%= image_tag(@user.picture.url(:thumb), style: "height:200px;width:100%;" ) %>
                            <% else %>
                                 <%= image_tag("default_profile_picture.png", style: "height:200px;width:100%;" ) %>
                            <% end %>
                        <hr>
                        <div class="control-group">
                            <span class="btn btn-sm btn-primary fileinput-button">
                                <i class="fa fa-picture-o"></i>
                                <span>Change profile picture</span>
                                <input type="file" name="user[picture]" multiple="">
                            </span>
                        </div>
                    </fieldset>
                <% end %>
            </div>
        </section>
    </div>
</div>

<% content_for :bottom do %>
    <script>
        $(function(){
            $('input[type=file]').change(function() { 
                $('#profile_picture').submit(); 
            });
            $(".btn-group > .btn[data-toggle-class]").click(function(){
                var $this = $(this),
                    isRadio = $this.find('input').is('[type=radio]'),
                    $parent = $this.parent();

                if (isRadio){
                    $parent.children(".btn[data-toggle-class]").removeClass(function(){
                        return $(this).data("toggle-class")
                    }).addClass(function(){
                            return $(this).data("toggle-passive-class")
                        });
                    $this.removeClass($(this).data("toggle-passive-class")).addClass($this.data("toggle-class"));
                } else {
                    $this.toggleClass($(this).data("toggle-passive-class")).toggleClass($this.data("toggle-class"));
                }
            });
        });
    </script>
<% end %>
