<%- title "Feeds" %>
<%- page_category "Account" %>
<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="widget">
            <header>
                <h4><i class="fa fa-rss"></i> <%= "#{@user.first_name} #{@user.last_name} "%>Feed</h4>
            </header>
            <div class="body">
                <div id="feed" class="feed">
                    <div class="wrapper">
                        <div class="vertical-line"></div>
                        <% @feeds.where(status: 0).each do |feed| %>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <%= RoleHelper.feed_type(feed.feed_type).html_safe %>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <%= feed.content.html_safe %>
                                    </div>
                                    <div class="time pull-left">
                                        <%= feed.created_at.strftime('%h %d %H:%M') %>
                                    </div>
                                </div>
                            </section>
                        <% end %>
                    </div>
                </div>
                <div class="clearfix">
                    <%= will_paginate @feeds, renderer: BootstrapPagination::Rails %>        
                </div>
            </div>
        </section>
    </div>
</div>
