<%- title "Orders" %>
<%- page_category "Account" %>
<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><i class="fa fa-info"></i> Tip:</strong>&nbsp;&nbsp;Contact us by email with the order id if you would like to cancel recent orders.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-money"></i>
                    Orders
                </h4>
            </header>
            <div class="body">
                <table class="table table-striped table-responsive table-images">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @payments.each do |payment| %>
                            <tr>
                                <td><%= payment.id %></td>
                                <td><%= payment.created_at.strftime('%b %d %Y') %></td>
                                <td>$<%= payment.amount/100 %></td>
                                <td><%= payment.description %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <div class="clearfix">
                <%= will_paginate @payments, renderer: BootstrapPagination::Rails %>        
            </div>
        </section>
    </div>
</div>