<%- title "Players Ranking" %>
<%- page_category "Dashboard" %>

<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <section class="widget">
      <header>
          <h4>
              <i class="fa fa-list-ol"></i> Players Ranking
          </h4>
      </header>
      <div class="body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.rank %></td>
                        <td><%= link_to "#{user.first_name} #{user.last_name[0,1]}.", user %></td>
                        <td><%= user.points %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="clearfix">
            <%= will_paginate @users, renderer: BootstrapPagination::Rails %>        
        </div>
      </div>
  </div>
</div>