<%- title "Profile" %>
<%- page_category "Account" %>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-md-6">
                        <h1><%= "#{@user.first_name} #{@user.last_name[0,1]}" %>
                            <%= link_to "<i class='fa fa-pencil-square-o'></i>&nbsp;&nbsp;Edit".html_safe, edit_user_path(@user), class: "btn btn-danger" if @user == current_user %>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <h2><%= RoleHelper.user_position(@user.position) %><h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="profile_picture">
                <% unless @user.picture.url.nil? %> 
                    <%= image_tag @user.picture.url(:thumb), style: "height:200px;width:100%;" %>
                <% else %>
                     <%= image_tag "default_profile_picture.png", style: "height:200px;width:100%;" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="body no-margin">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <span class="part3"><%= render "shared/stars", level: @user.level %></span><br>
                        <span class="part1"><%= RoleHelper.level(@user.level) %></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <span class="part4"><i class="fa fa-trophy"></i></span><br>
                        <span class="part1"><strong><%= @user.points %></strong> points</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <span class="part4"><%= @user.rank %></span><br>
                        <span class="part1"><i class="fa fa-flag-checkered"></i> city rank</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <%= @user.gender == 0 ? "<i class='fa fa-male fa-5x'></i>".html_safe : "<i class='fa fa-female fa-5x'></i>".html_safe  %>
                    </div> 
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <span class="part4"><i class="fa fa-thumbs-up"></i></span><br>
                        <span class="part1"><strong><%= @user.wins %></strong> wins</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="widget box1">
                        <span class="part4"><i class="fa fa-thumbs-down"></i></span><br>
                        <span class="part1"><strong><%= @user.games.where(status: 1).count - @user.wins %></strong> losses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="widget large">
            <header>
                <h4><i class="fa fa-bar-chart-o"></i> Performance</h4>
            </header>
            <div id="sources-chart-bar" class="body chart">
                <svg></svg>
            </div>
        </section>
    </div>
</div>

<% content_for :bottom do %>
    <script>
        var $lime = "#8CBF26",
        $red = "#e5603b",
        $redDark = "#d04f4f",
        $blue = "#6a8da7",
        $green = "#56bc76",
        $orange = "#eac85e",
        $pink = "#E671B8",
        $purple = "#A700AE",
        $brown = "#A05000",
        $teal = "#4ab0ce",
        $gray = "#666",
        $white = "#fff",
        $textColor = $gray;

        //turn off charts is needed
        var chartsOff = false;
        if (chartsOff){
            nv.addGraph = function(){};
        }

        COLOR_VALUES = [$red, $orange, $green, $blue, $teal, $redDark];

        var colors = function(){
            if (!window.d3) return false;
            return d3.scale.ordinal().range(COLOR_VALUES);
        }();

        function keyColor(d, i) {
            return colors(d.key)
        }

        var performance = JSON.parse('<%= @performance.to_json.html_safe%>');
        console.log(performance);

        nv.addGraph(function(){
            var chart = nv.models.multiBarChart()
                .margin({left: 30, bottom: 20, right: 0})
                .color(keyColor)
                .controlsColor([$white, $white, $white])
                .showLegend(false);

            chart.yAxis
                .showMaxMin(false)
                .ticks(0)
                .tickFormat(d3.format(',.f'));

            chart.xAxis
                .showMaxMin(false)
                .tickFormat(function(d) { return d3.time.format('%b %d %Y')(new Date(d)) });

            d3.select('#sources-chart-bar svg')
                .datum(performance)
                .transition().duration(500).call(chart);

            nv.utils.windowResize(chart.update);

            barChart = chart;

            return chart;
        });
    </script>
<% end %>
