<%- message_type "col-md-4 col-md-offset-4" %>
<div class="row" style="margin-top:50px">
  <div class="col-md-4 col-md-offset-4">
    <section class="widget login-widget">
      <header class="text-align-center">
          <h4>Forgot your password?</h4>
      </header>
      <div class="body">
        <%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post , class: "no-margin" } do |f| %>
            <fieldset>
              <div class="form-group no-margin" style="height:100px">
                <label for="email" >Email</label>
                <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                    <%= f.input :email, label: false do %>
                        <input id="user_email" type="email" name="user[email]" autofocus="autofocus" class="form-control input-lg"
                           placeholder="Your Email">
                    <% end %>
                </div>
              </div>
              <div class="form-actions" style="height:100px">
                <button type="submit" class="btn btn-block btn-lg btn-danger">
                    <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                    <small>Send me reset password instructions</small>
                </button>
              </div>
          </fieldset>  
        <% end %>
      </div>
    </section>
  </div>
</div>



