<% if object.errors.any? %>
  <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="fa fa-ban"></i> <strong>Oh snap! You got <%= pluralize(object.errors.count, "error") %>!</strong></h4>
      <p>please correct the errors by reviewing the submission.</p>
  </div>
<% end %>