<span style="font-size:30px">
  <% (joined).times do %>
      <i class="fa fa-group icon-b"></i>
  <% end %>
  <% (total-joined).times do %>
      <i class="fa fa-group icon-a"></i>
  <% end %>
</span>