<% @game.game_chats.where(team: team_number).limit(30).each do |chat| %>
    <div class="chat-message">
        <div class="sender pull-left">
            <div class="icon">
                <% unless chat.user.picture.url.nil? %> 
                    <%= image_tag chat.user.picture.url(:thumb), class: "img-circle" %>
                <% else %>
                     <%= image_tag "default_profile_picture.png", class: "img-circle" %>
                <% end %>
            </div>
            <div class="time" style="margin-top:5px">
                <%= chat.created_at.strftime('%h %d %H:%M') %>
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender"><%= link_to "#{chat.user.first_name} #{chat.user.last_name}", chat.user %></div>
            <div class="text">
                <%= chat.message %>
            </div>
        </div>
    </div>
<% end %>