<table class="table table-striped table-bordered table-responsive" style="text-align:center;">
    <tbody>
        <% @game.presences.where(team: team_number).order(position: :asc).each do |presence| %>
            <tr>            
                <td><%= presence.user.gender == 0 ? "<i class='fa fa-male fa-2x'></i>".html_safe : "<i class='fa fa-female fa-2x'></i>".html_safe  %></td>
                <td><%= link_to "#{presence.user.first_name} #{presence.user.last_name}", presence.user %></td>
                <td><%= RoleHelper.user_position(presence.user.position) %></td>
                <td><%= presence.going ? raw("<i class='fa fa-2x fa-check color-green'></i>") : raw("<i class='fa fa-2x fa-minus-circle color-red'></i>")%></td>
            </tr>
        <% end %>
    </tbody>
</table>
