<%- title "Calendar" %>
<%- page_category "Games" %>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <section class="widget">
        <header>
            <h4>
                <i class="fa fa-calendar"></i>
                Calendar
            </h4>
        </header>
        <div class="body">
            <div id="calendar" class="calendar"> </div>
    </section>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id ="myModalTitle" class="modal-title">Game Details</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% content_for :bottom do %>
    <script>
        $(function(){
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var selected_games = [];
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },

                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var $modal = $("#edit-modal"),
                        $btn = $('#create-event');
                    $btn.off('click');
                    $btn.click(function () {
                        var title = $("#event-name").val();
                        if (title) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true
                            );
                        }
                        calendar.fullCalendar('unselect');
                    });
                    $modal.modal('show');
                    calendar.fullCalendar('unselect');
                },
                editable: false,
                droppable: false,
                events: JSON.parse('<%= @calendar_games.to_json.html_safe%>'),
                eventClick: function(event) {
                    // opens events in a popup window
                    if (event.url){
                        window.open(event.url, 'gcalevent', 'width=700,height=600');
                        return false
                    } else {
                        var $modal = $("#myModal");
                        $modal.find(".modal-body p").html(function(){
                          return "Start At: <strong>" + ("0" + event.start.getHours()).slice(-2) + ":" + ("0" + event.start.getMinutes()).slice(-2) + "</strong><br>"
                              + "Ends At: <strong>" + ("0" + event.end.getHours()).slice(-2) + ":" + ("0" + event.end.getMinutes()).slice(-2) + "</strong><br>"
                              + "Duration: <strong>" + event.duration + " minutes</strong><br><br><br>"
                              + "<a class='btn btn-danger' href=games/" + event.id + "><i class='fa fa-arrow-right'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take me to game page.</a>"
                        }());
                        $modal.modal('show');
                    }
                }
            });

            $("#calendar-switcher").find("label").click(function(){
                calendar.fullCalendar( 'changeView', $(this).find('input').val() )
            });
        });
    </script>
<% end %>