<%- title "Calendar" %>
<%- page_category "Games" %>

<div class="row">
    <section class="widget">
        <header>
            <h4><i class="fa fa-map-marker"></i> <em><%= RoleHelper.soccer_field_category(@soccer_field.category)%> </em><strong><%= @soccer_field.name %></strong>&nbsp; | &nbsp;
             <a href="http://maps.google.com/?q=<%= @soccer_field.full_address %>" target="_blank"> Open in Google Maps</a>
             </h4>
        </header>
        <div class="body" style="height:500px">
            <div class="map">
                <div id="map"></div>
            </div>
        </div>
    </section>
</div>

<% content_for :bottom do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
  <script type="text/javascript">
    $(function(){
        $("#map").width("100%").height("100%").gmap3({
            marker:{
              address: "<%= @soccer_field.full_address %>"
            },
            map:{
                options:{
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                }
            }
        });
    });
  </script>
<% end %>
