<%- title "Game Results" %>
<%- page_category "Games" %>

<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <section class="widget">
      <header>
          <h4>
              <i class="fa fa-globe"></i> Games Results
          </h4>
          <br>
      </header>
      <div class="body">
        <table class="table table-striped">
            <tbody>
                <% @results.each do |game| %>
                    <tr style="text-align:center"> 
                        <td><%= link_to "#{game.time.strftime('%b %d %Y')}", game %></td>
                        <td><%= game.home.name %> <%= raw(RoleHelper.winner_icon(game.result, 0)) %></td>
                        <td><%= game.away.name %> <%= raw(RoleHelper.winner_icon(game.result, 1)) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="clearfix">
            <%= will_paginate @results, renderer: BootstrapPagination::Rails %>        
        </div>
      </div>
  </div>
</div>