<%- title "Next Game" %>
<%- page_category "Games" %>

<div class="row">
    <div class="col-md-12">
        <section class="widget game-header border-<%= @game.status == 0 ? 'success' : 'info' %>">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-sm-6 col-print-6">
                        <h1> Game #<%= @game.number %></h1>
                    </div>
                    <div class="col-sm-6 col-print-6">
                        <div class="pull-right">
                            <h2><%= "#{@game.serie.game_type}v#{@game.serie.game_type} #{RoleHelper.serie_category(@game.serie.game_category)}" %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part2"><%= @game.time.strftime('%b %d %Y') %><br><%= @game.time.strftime('%I:%M %p') %></span>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part3"><%= @game.duration %></span><br>
            <span class="part1"> minutes</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="widget box2 part1">
            <em><%= RoleHelper.soccer_field_category(@game.soccer_field.category)%> </em><strong><%= @game.soccer_field.name %></strong><br>
            <%= @game.soccer_field.address %>, <%= @game.soccer_field.city.name %><br>
            <%= link_to raw("<i class='fa fa-map-marker'></i> show in map"), map_games_path(id: @game.soccer_field.id) %>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part3"><%= render "shared/stars", level: @game.serie.level %></span><br>
            <span class="part1"><%= RoleHelper.level(@game.serie.level) %></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="team-name">
                            <%= image_tag "#{@game.home.color}.png", :size => "40x32", style: "margin-bottom:15px" %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-size:30px"><%= @game.home.name %> <%= raw(RoleHelper.winner_icon(@game.result, 0)) %></span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= render "team", team_number: 0 %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="team-name">
                            <%= image_tag "#{@game.away.color}.png", :size => "40x32", style: "margin-bottom:15px" %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-size:30px"><%= @game.away.name %> <%= raw(RoleHelper.winner_icon(@game.result, 1)) %></span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= render "team", team_number: 1 %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><i class="fa fa-info"></i> Great tip:</strong>&nbsp;&nbsp;say "I cannot make it" if you are not showing up to the game so we can let your team know.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4><i class="fa fa-comments"></i> <%= @game.home.name %> Chat</h4>
            </header>
            <div class="body">
                <div id="chat-home" class="chat">
                    <div id="chat-messages-home" class="chat-messages" style="max-height:400px;min-height:200px;">
                        <%= render "chat", team_number: 0 %>
                    </div>
                    <footer class="chat-footer row">
                        <div class="col-xs-9">
                            <input id="new-home-message" type="text" class="form-control" placeholder="Enter your message..">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="new-home-message-btn" class="btn btn-inverse btn-block">Send</button>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4><i class="fa fa-comments"></i> <%= @game.away.name %> Chat</h4>
            </header>
            <div class="body">
                <div id="chat-away" class="chat">
                    <div id="chat-messages-away" class="chat-messages" style="max-height:400px;min-height:200px;">
                        <%= render "chat", team_number: 1 %>
                    </div>
                    <footer class="chat-footer row">
                        <div class="col-xs-9">
                            <input id="new-away-message" type="text" class="form-control" placeholder="Enter your message..">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="new-away-message-btn" class="btn btn-inverse btn-block">Send</button>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
    </div>
</div>

<% content_for :bottom do %>
    <script>
        $(function(){
            $("#chat-messages-home").slimscroll({
                height: 'auto',
                size: '5px',
                alwaysVisible: true,
                railVisible: true
            });
            $("#chat-messages-away").slimscroll({
                height: 'auto',
                size: '5px',
                alwaysVisible: true,
                railVisible: true
            });
            $("#chat-messages-away").slimScroll({ scrollTo: '1000000' });
            $("#chat-messages-home").slimScroll({ scrollTo: '1000000' });

            if (window.localStorage.getItem("chat-home-simple") != null){
                var home_messages = window.localStorage.getItem("chat-home-simple").split(",");
                for (var i = 0; i < home_messages.length; i++){
                    localStorage.removeItem("chat-home-simple-" + home_messages[i]);
                }
            }

            var HomeMessage = Backbone.Model.extend({

                defaults: function() {
                    return {
                        text: "empty...",
                        order: HomeMessages.nextOrder()
                    };
                },

                initialize: function() {
                    if (!this.get("text")) {
                        this.set({"text": this.defaults().text});
                    }
                }

            });

            var HomeMessageList = Backbone.Collection.extend({
                model: HomeMessage,
                localStorage: new Backbone.LocalStorage("chat-home-simple"),
                nextOrder: function() {
                    if (!this.length) return 1;
                    return this.last().get('order') + 1;
                },
                comparator: function(message) {
                    return message.get('order');
                }

            });

            var HomeMessages = new HomeMessageList;

            var HomeMessageView = Backbone.View.extend({

                className: 'chat-message',

                template: _.template($('#message-template').html()),

                initialize: function() {
                    this.listenTo(this.model, 'change', this.render);
                },

                // Re-render the titles of the todo item.
                render: function() {
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                }

            });

            var AppViewHome = Backbone.View.extend({

                el: $("#chat-home"),

                events: {
                    "keypress #new-home-message":  "createOnEnter",
                    "click #new-home-message-btn": "createOnClick"
                },

                initialize: function() {

                    this.input = this.$("#new-home-message");

                    this.listenTo(HomeMessages, 'add', this.addOne);
                    this.listenTo(HomeMessages, 'all', this.render);

                    HomeMessages.fetch();
                },

                addOne: function(message) {
                    var view = new HomeMessageView({model: message});
                    this.$("#chat-messages-home").append(view.render().el);
                    $.ajax({
                      type: "GET",
                      url: "/games/new_chat?game_id=<%= @game.id %>&team=0&message="+message.attributes.text,
                      dataType: 'json'
                    });
                },

                createOnEnter: function(e) {
                    if (HomeMessages.length < 10){
                        if (e.keyCode != 13) return;
                        if (!this.input.val()) return;

                        HomeMessages.create({text: this.input.val()});
                        this.input.val('');

                        var view = this.$("#chat-messages-home")[0];
                        view.scrollTop = view.scrollHeight;
                    }
                },

                createOnClick: function(e) {
                    if (HomeMessages.length < 10){
                        if (!this.input.val()) return;

                        HomeMessages.create({text: this.input.val()});
                        this.input.val('');

                        var view = this.$("#chat-messages-home")[0];
                        view.scrollTop = view.scrollHeight;
                    }
                }

            });

        var AppHome = new AppViewHome;



        //*************************************************************************************//

        if (window.localStorage.getItem("chat-away-simple") != null){
                var awaymessages = window.localStorage.getItem("chat-away-simple").split(",");
                for (var i = 0; i < awaymessages.length; i++){
                    localStorage.removeItem("chat-away-simple-" + awaymessages[i]);
                }
            }

            var AwayMessage = Backbone.Model.extend({

                defaults: function() {
                    return {
                        text: "empty...",
                        order: AwayMessages.nextOrder()
                    };
                },

                initialize: function() {
                    if (!this.get("text")) {
                        this.set({"text": this.defaults().text});
                    }
                }

            });

            var AwayMessageList = Backbone.Collection.extend({
                model: AwayMessage,
                localStorage: new Backbone.LocalStorage("chat-away-simple"),
                nextOrder: function() {
                    if (!this.length) return 1;
                    return this.last().get('order') + 1;
                },
                comparator: function(message) {
                    return message.get('order');
                }

            });

            var AwayMessages = new AwayMessageList;

            var AwayMessageView = Backbone.View.extend({

                className: 'chat-message',

                template: _.template($('#message-template').html()),

                initialize: function() {
                    this.listenTo(this.model, 'change', this.render);
                },

                // Re-render the titles of the todo item.
                render: function() {
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                }

            });

            var AppViewAway = Backbone.View.extend({

                el: $("#chat-away"),

                events: {
                    "keypress #new-away-message":  "createOnEnter",
                    "click #new-away-message-btn": "createOnClick"
                },

                initialize: function() {
                    this.input = this.$("#new-away-message");
                    this.listenTo(AwayMessages, 'add', this.addOne);
                    this.listenTo(AwayMessages, 'all', this.render);
                    AwayMessages.fetch();
                },

                addOne: function(message) {
                    var view = new AwayMessageView({model: message});
                    this.$("#chat-messages-away").append(view.render().el);
                    $.ajax({
                      type: "GET",
                      url: "/games/new_chat?game_id=<%= @game.id %>&team=1&message="+message.attributes.text,
                      dataType: 'json'
                    });
                },

                createOnEnter: function(e) {
                    if (AwayMessages.length < 10){
                        if (e.keyCode != 13) return;
                        if (!this.input.val()) return;

                        AwayMessages.create({text: this.input.val()});
                        this.input.val('');

                        var view = this.$("#chat-messages-away")[0];
                        view.scrollTop = view.scrollHeight;
                    }
                },

                createOnClick: function(e) {
                    if (AwayMessages.length < 10){
                        if (!this.input.val()) return;

                        AwayMessages.create({text: this.input.val()});
                        this.input.val('');

                        var view = this.$("#chat-messages-away")[0];
                        view.scrollTop = view.scrollHeight;
                    }
                }

            });

            var AppAway = new AppViewAway;
        });
    </script>
    <script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <% unless current_user.picture.url.nil? %> 
                    <%= image_tag current_user.picture.url(:thumb), class: "img-circle" %>
                <% else %>
                     <%= image_tag "default_profile_picture.png", class: "img-circle" %>
                <% end %>
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender"><%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user %></div>
            <div class="text">
                <%%- text %>
            </div>
        </div>
    </script>
<% end %>