<%- title "Upcoming Games" %>
<%- page_category "Dashboard" %>

<%- message_type "col-md-8 col-md-offset-2" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <section class="widget">
      <header>
          <h4>
              <i class="fa fa-map-marker"></i> Upcoming Games
          </h4>
          <br>
      </header>
      <div class="body">
        <table class="table table-striped">
            <tbody>
                <% @upcoming.each do |game| %>
                    <tr style="text-align:center"> 
                        <td><%= link_to "#{game.time.strftime('%b %d %Y')}", game %></td>
                        <td><%= game.home.name %></td>
                        <td>VS</td>
                        <td><%= game.away.name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="clearfix">
            <%= will_paginate @upcoming, renderer: BootstrapPagination::Rails %>        
        </div>
      </div>
  </div>
</div>