<%- message_type "col-md-4 col-md-offset-4" %>
<div class="row" style="margin-top:50px">
    <div class="col-md-4 col-md-offset-4">
        <section class="widget login-widget">
            <header class="text-align-center">
                <h4>Login to your account</h4>
            </header>
            <div class="body">
                <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "no-margin"}) do |f| %>
                    <fieldset>
                        <div class="form-group no-margin">
                            <label for="email" >Email</label>
                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                <input id="user_email" type="email" name="user[email]" autofocus="autofocus" class="form-control input-lg"
                                       placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" >Password</label>
                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                <input id="user_password" type="password" name="user[password]" class="form-control input-lg"
                                       placeholder="Your Password">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Sign In</small>
                        </button>
                        <div class="forgot">
    	                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    						  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    						<% end %>
                            <br>
    						<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    						  <%= link_to "You don't have an account?", new_registration_path(resource_name)  %>
    						<% end %>
                            <br>
                            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
                            <% end %>
    					</div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>