<p>Hello</p>

<p>You have been invited to join a Soccer Team by the captain <%= "#{@captain.first_name} #{@captain.last_name}" %>.</p>

<p>You can accept his invitation by <%= link_to "signing up", new_user_registration_url %>.</p>

<p>Sincerly.</p>
<p>Soccerty Team</p>