/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require nvd3/src/nv.d3
 *= require fontello/css/fontello
 *= require template
 *= require font-awesome
 *= require landing
 *= require_self
 */

body {
  background: url('background.jpg');
  font-family: "rooney-sans";
  background-size: 2000px 1000px;
}

.widget {
  margin-bottom: 20px;
}

.brand {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: 1;
}

.team-name {
  margin-top: 35px;
  height: 56px;
  font-weight: bold;
}

.icon-a {
    color: #888;
} 
.icon-b {
  color: orange;
}

.help-inline {
  color: #e5603b;
}

.box1 {
  line-height: 35px;
  height: 80px; 
  padding: 10px;
  text-align: center;
}

.box2 {
  line-height: 25px;
  height: 80px; 
  padding: 10px;
  text-align: center;
}

.box3 {
  line-height: 35px;
  padding: 10px;
  text-align: center;
}

.part1 {
  font-size: 18px;
}

.part2 {
  font-size: 26px;
  font-weight:bold;
}

.part2_5 {
  font-size: 26px;
}

.part3 {
  font-size: 30px;
  font-weight:bold;
}

.part4 {
  font-size: 38px;
  font-weight:bold;
}

.widget-feed {
  height: 400px;
}

 .border-success {
  border-top: 5px solid #56bc76;
 }

.border-info {
  border-top: 5px solid #4ab0ce;
 }

.clean-button {
	border:none;
}
