
/***********************************/
/**            LANDING            **/
/***********************************/
.landing {
  padding-bottom: 40px;
}
.landing .page-header {
  margin-left: 0;
  margin-right: 0;
}
.landing .navbar-menu > li > a {
  line-height: 40px;
  padding: 0 10px;
  width: auto;
  font-size: 16.25px;
}
.landing .navbar-buttons {
  margin-right: 20px;
}
.landing .navbar-buttons > li {
  float: left;
}
.landing .navbar-buttons > li > a {
  margin: 7px 10px;
}
.landing .logo {
  position: static;
}
.landing .content {
  padding: 25px 0;
}
.landing .lead {
  font-weight: normal;
}
.landing .btn {
  font-weight: normal;
}
.landing .btn + .btn {
  margin-left: 10px;
}
.landing .widget p {
  font-size: 14px;
}
.landing .widget-about {
  margin-top: 60px;
  padding: 20px;
  background: #444;
  color: white;
}
.landing .widget-about h2, .landing .widget-about h4 {
  margin-top: 0;
  font-weight: bold;
}
.landing .widget-about .preview {
  margin: 40px 0;
}
.landing .widget-about .btn {
  color: white;
}
.landing .img-about {
  margin-top: 8px;
}
.landing .features {
  margin-top: 60px;
}
.landing .feature {
  text-align: center;
}
.landing .feature .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 40px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}
.landing .feature .icon > i {
  color: #ffffff;
}
.landing .thanks {
  margin-top: 60px;
}
.landing .back-to-top {
  color: #f8f8f8;
}

.widget-white {
  background: white;
  color: #666666;
  -webkit-box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
  -moz-box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
  box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
}
.widget-white * {
  color: #666666;
}

.carousel-landing {
  height: 350px;
  overflow: hidden;
}
.carousel-landing img {
  max-width: 100%;
}
.carousel-landing h1 {
  font-size: 45px;
  line-height: 1.1;
}
.carousel-landing .item > .row > *:first-child {
  text-align: right;
}
.carousel-landing .slide-one-header {
  margin-top: 80px;
}
.carousel-landing .slide-two-header {
  margin-bottom: 40px;
}
.carousel-landing .slide-three-header {
  margin-top: 100px;
  margin-bottom: 20px;
}
.carousel-landing .btn-version-preview {
  margin-top: 20px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .carousel-landing .btn-version-preview {
    display: none;
  }
}

.carousel-fade .carousel-inner > .item {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.carousel-fade .carousel-inner > .next,
.carousel-fade .carousel-inner > .prev {
  left: auto;
}
.carousel-fade .carousel-inner > .next.left,
.carousel-fade .carousel-inner > .prev.right {
  opacity: 1;
  left: auto;
}
.carousel-fade .carousel-inner > .active.left,
.carousel-fade .carousel-inner > .active.right,
.carousel-fade .carousel-inner > .next,
.carousel-fade .carousel-inner > .prev {
  opacity: 0;
  left: auto;
}

.carousel-control-landing {
  opacity: 1;
  width: 2%;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .carousel-control-landing .icon-prev,
  .carousel-control-landing .icon-next {
    font-size: 50px;
  }
}
.carousel-control-landing.left {
  background: none;
}
.carousel-control-landing.right {
  background: none;
}