<p>On behalf of the entire Soccerty Team, we are pleased to have you as a member.</p>
<p>You can confirm your account through the link below:</p>
<p><%= confirmation_url(@resource, :confirmation_token => @token) %></p>
