<table class="table table-responsive table-striped table-images">
    <thead>
        <tr>
            <th>Level</th>
            <th>Day</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>Type</th>
            <th># Games</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% series.each do |serie| %>
            <tr>
                <td><%= render "shared/stars", level: serie.level %></td>
                <td><%= serie.start.strftime('%A') %> Evenings</td>
                <td><%= serie.soccer_field.address %></td>
                <td><%= serie.start.strftime('%b %d %Y') %></td>
                <td><%= "#{serie.game_type}v#{serie.game_type} #{RoleHelper.serie_category(serie.game_category)}" %></td>
                <td><%= serie.number_games %></td>
                <td><%= link_to("join", join_path(id: serie.id), class: "btn btn-sm btn-primary") %></td>
            </tr>
        <% end %>
    </tbody>
</table>