<%- title "Join Game(s)" %>
<%- message_type "col-md-8 col-md-offset-2" %>
<%- page_category "Games" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="widget">
            <div class="body">
				    <%= form_tag participate_series_index_path(id: @serie.id), :class => "form-horizontal" do %>
                  <fieldset>
                      <legend class="section">Join Game(s) Confirmation.</legend>
                      <p>Payments cover the cost of the field and have to be paid on your first game.</p><br>
                      <label class="control-label" for="number_games">Number of games</label>
                      <div class="controls form-group">
                        <div class="input-group col-xs-12 col-sm-12 col-md-8">
                          <%= text_field_tag :number_games, @serie.number_games, class: "form-control", id: "number_games", :readonly => true %>
                        </div>
                      </div> 
                      <label class="control-label" for="game_cost">Cost per game</label>
                      <div class="controls form-group">
                        <div class="input-group col-xs-12 col-sm-12 col-md-8">
                          <%= text_field_tag :game_cost, @serie.game_cost, class: "form-control", id: "game_cost", :readonly => true %>
                        </div>
                      </div> 
                      <label class="control-label" for="total">Total</label>
                      <div class="controls form-group">
                          <div class="input-group col-xs-12 col-sm-12 col-md-8">
                              <span class="input-group-addon">$</span>
                              <%= text_field_tag :total, number_with_precision(@serie.number_games*@serie.game_cost, precision: 2), class: "form-control", id: "total", :readonly => true %>                                    
                           </div>
                      </div>
                      <%= hidden_field_tag :games, @games %>
                </fieldset>
                <div class="form-actions">
                    <div>
                        <button type="submit" class="btn btn-primary"> Confirm</button>
                        <%= link_to 'Cancel', @serie, class: "btn btn-default" %>
                    </div>
                </div>
	            <% end %>
            </div>
        </section>
    </div>
</div>
