<%- title "Join Leagues" %>
<%- page_category "Dashboard" %>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-list-ol"></i>
                    Join Leagues
                </h4>
            </header>
            <div class="body">
                <%= render "series/table", series: @series %>
            <div class="clearfix">
                <%= will_paginate @series, renderer: BootstrapPagination::Rails %>        
            </div>
        </section>
    </div>
</div>