<%- title "Organize Game(s)" %>
<%- page_category "Games" %>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section class="widget">
            <header>
                <h4><i class="fa fa-map-marker"></i> Organize Game(s)</h4>
            </header>
            <div class="body">
                <%= simple_form_for(@serie, url: series_index_path(@serie), :html => {id: "pickup_form", class: "form-horizontal form-condensed label-left", :method => :post, :multipart => true, 'data-validate' => "parsley", novalidate: "novalidate"}) do |f| %>
                    <%= render 'shared/errors', object: f.object %>
                    <div id="wizard" class="form-wizard">
                        <ul class="wizard-navigation nav-justified">
                            <li><a href="#tab1" data-toggle="tab"><small>1.</small><strong> Field</strong></a></li>
                            <li><a href="#tab2" data-toggle="tab"><small>2.</small><strong> Serie</strong></a></li>
                            <li><a href="#tab3" data-toggle="tab"><small>3.</small><strong> Game(s)</strong></a></li>
                            <li><a href="#tab4" data-toggle="tab"><small>4.</small><strong> Thank you!</strong></a></li>
                        </ul>
                        <div id="bar" class="progress progress-small">
                            <div class="progress-bar progress-bar-inverse"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <%= f.simple_fields_for :soccer_field do |b| %>                             
                                    <fieldset>
                                        <h4>Where would you like the game(s) to take place?</h4><br>
                                        <%= b.input :category, label: "What type of field?" do %>
                                            <div id="category" class="btn-group" data-toggle="buttons" style="margin-bottom:8px;">
                                                <label class="btn <%= @serie.soccer_field.category == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="soccer_field[category]" value="0"> Indoor
                                                </label>
                                                <label class="btn <%= @serie.soccer_field.category == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="soccer_field[category]" value="1"> Outdoor
                                                </label>
                                            </div>
                                        <% end %>
                                        <%= b.input :name, placeholder: "enter field name", input_html: {class: "col-md-12", style: "margin-bottom:8px;"}, label: "Name" %>
                                        <%= b.input :address, placeholder: "enter field address", input_html: {class: "col-md-12", style: "margin-bottom:8px;"}, label: "Address" %>
                                        <%= b.input :postal, placeholder: "enter field postal code", label: "Postal Code", input_html: {class: "col-md-12", style: "margin-bottom:8px;"} %>
                                        <%= b.association :city, placeholder: "pick field city", input_html: {class: "chzn-select select-block-level"} %>
                                        <%= b.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                                    </fieldset>
                                <% end %>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <fieldset>
                                    <%= f.input :game_category, label: "What type of serie?" do %>
                                        <div id="game_category" class="btn-group" data-toggle="buttons">
                                            <label class="btn <%= @serie.game_category == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="serie[game_category]" value="0"> Men
                                            </label>
                                            <label class="btn <%= @serie.game_category == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="serie[game_category]" value="1"> Coed
                                            </label>
                                            <label class="btn <%= @serie.game_category == 2 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="serie[game_category]" value="2"> Women
                                            </label>
                                        </div>
                                    <% end %>
                                    <%= f.input :level, label: "What's the skill level required?" do %>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn <%= @serie.level == 0 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input name="serie[level]" type="radio" value="0"> Amateur
                                            </label>
                                            <label class="btn <%= @serie.level == 1 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input name="serie[level]" type="radio" value="1"> Semi Pro
                                            </label>
                                            <label class="btn <%= @serie.level == 2 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input name="serie[level]" type="radio" value="2"> Professional 
                                            </label>
                                        </div>
                                    <% end %>
                                    <%= f.input :number_games, label: "How many games in total?", collection: 1..20, input_html: {class: "chzn-select select-block-level"}, placeholder: "choose an option.."  %>
                                    <div id="serie_recurring_div" style="display: none"><%= f.input :recurring, label: "How often the games will be?", collection: {'weekly' => 0, 'monthly' => 1, 'daily' => 2, 'every two weeks' => 3}, input_html: {class: "chzn-select select-block-level"}, include_blank: false, placeholder: "choose an option.." %></div>
                                    <%= f.input :organizer_role, label: "Will you be playing?", collection: {'no' => 0, 'yes' => 1}, input_html: {class: "chzn-select select-block-level"}, placeholder: "choose an option.." %>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <%= f.input :game_type, label: "What type of game(s)?" do %>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn <%= @serie.game_type == 5 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="serie[game_type]" type="radio" value="5"> 5v5 
                                        </label>
                                        <label class="btn <%= @serie.game_type == 7 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="serie[game_type]" type="radio" value="7"> 7v7
                                        </label>
                                        <label class="btn <%= @serie.game_type == 11 ? 'btn-primary active' : 'btn-default' %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input name="serie[game_type]" type="radio" value="11"> 11v11
                                        </label>

                                    </div>
                                <% end %>
                                <%= f.input :start, as: :string, label: "When will be the first game?", placeholder: "enter date of first game..", input_html: {value: (@serie.start.strftime('%m/%d/%y') unless @serie.start.nil?), class: "col-md-12 form-control date-picker"}, readonly: true %>

                                <%= f.input :time, as: :string, label: "What time will game(s) be?", placeholder: "enter game(s) time..", input_html: {class: "col-xs-12"}%>
              
                                <%= f.input :duration, label: "What's the duration of a game?", collection: {'30 mins' => 30, '45 mins' => 45, '60 mins' => 60, '75 mins' => 75, '90 mins' => 90, '105 mins' => 105, '120 mins' => 120, '140 mins' => 140, '160 mins' => 160, '180 mins' => 180, '210 mins' => 210, '240 mins' => 240 }, placeholder: "choose an option..", input_html: {class: "chzn-select select-block-level"} %>
                                <div id="serie_cost_div"><%= f.input :game_cost, collection: 5..30, placeholder: "choose an option..", input_html: {class: "chzn-select select-block-level"}, label: "What's the cost per game per player?" %></div>

                            </div>
                            <div class="tab-pane" id="tab4">
                                <h2>Thank you!</h2>
                                <p>Click finish to create your serie game(s).</p>
                            </div>
                            <div class="description">
                                <ul class="pager wizard">
                                    <li class="previous">
                                        <button type='button' class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
                                    </li>
                                    <li class="next">
                                        <button type='button' class="btn btn-primary pull-right" >Next <i class="fa fa-caret-right"></i></button>
                                    </li>
                                    <li class="finish" style="display: none">
                                        <button class="btn btn-success pull-right" >Finish <i class="fa fa-check"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>

<% content_for :bottom do %>
    <script>
        $(function () {
            $(".btn-group > .btn[data-toggle-class]").click(function(){
                var $this = $(this),
                    isRadio = $this.find('input').is('[type=radio]'),
                    $parent = $this.parent();

                if (isRadio){
                    $parent.children(".btn[data-toggle-class]").removeClass(function(){
                        return $(this).data("toggle-class")
                    }).addClass(function(){
                            return $(this).data("toggle-passive-class")
                        });
                    $this.removeClass($(this).data("toggle-passive-class")).addClass($this.data("toggle-class"));
                } else {
                    $this.toggleClass($(this).data("toggle-passive-class")).toggleClass($this.data("toggle-class"));
                }
            });
            $("#serie_number_games").change(function(){
                if (parseInt($("#serie_number_games").val())>1) {
                    $("#serie_recurring_div").show();
                } else {
                    $("#serie_recurring_div").hide();
                }
            });
            $("#serie_time").mask("99:99");
            $("#wizard").bootstrapWizard({
                onTabClick: function(tab, navigation, index) {
                    return false;
                },
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index+1;
                    var $percent = ($current/$total) * 100;
                    var $wizard = $("#wizard");
                    $wizard.find('.progress-bar').css({width:$percent+'%'});

                    if($current >= $total) {
                        $wizard.find('.pager .next').hide();
                        $wizard.find('.pager .finish').show();
                        $wizard.find('.pager .finish').removeClass('disabled');
                    } else {
                        $wizard.find('.pager .next').show();
                        $wizard.find('.pager .finish').hide();
                    }
                },
                onNext: function(tab, navigation, index) {
                    if(index==1) {
                        if (!$('#serie_soccer_field_attributes_name').parsley('validate') || !$('#serie_soccer_field_attributes_address').parsley('validate') || !$('#serie_soccer_field_attributes_postal').parsley('validate') || !$('#serie_soccer_field_attributes_city_id').parsley('validate')) return false;
                    } else if(index==2) {
                        if (!$('#serie_number_games').parsley('validate')) return false;
                    } else if(index==3) {
                        if (!$('#serie_start').parsley('validate') || !$('#serie_time').parsley('validate') || !$('#serie_duration').parsley('validate') ) return false;
                    }
                }
            });
        });
    </script>
<% end %>
