<%- title "Join Serie" %>
<%- page_category "Series" %>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-sm-6 col-print-6">
                        <h1> League #<%= @serie.id %></h1>
                    </div>
                    <div class="col-sm-6 col-print-6">
                        <div class="pull-right">
                            <h2><%= "#{@serie.game_type}v#{@serie.game_type} #{RoleHelper.serie_category(@serie.game_category)}" %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="widget box1">
            <span class="part3"><%= render "shared/stars", level: @serie.level %></span><br>
            <span class="part1"><%= RoleHelper.level(@serie.level) %></span>
        </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="widget box1">
            <span class="part3"><%= @serie.duration %></span><br>
            <span class="part1"> minutes</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="widget box1">
            <span class="part1"><strong>$<%= @serie.team_price %></strong> team<br><strong>$<%= @serie.individual_price %></strong> individual</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget box1">
            <span class="part1"><strong><%= @serie.number_games %></strong> games in total</span><br>
            <span class="part1"><i class="fa fa-refresh"></i> every <strong><%= RoleHelper.serie_recurring(@serie.recurring) %></strong></span>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="widget box1" style="">
            <%= render "shared/joined", total: @serie.number_teams, joined: @serie.teams.count %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <section class="widget">
            <div id="calendar" class="calendar"> </div>
        </section>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <section class="widget" style="height:345px">
            <header>
                <h4><i class="fa fa-map-marker"></i> <em><%= RoleHelper.soccer_field_category(@serie.soccer_field.category)%> </em><strong><%= @serie.soccer_field.name %></strong>. <%= @serie.soccer_field.address %>, <%= @serie.soccer_field.city.name %>.<br></h4>
                <a href="http://maps.google.com/?q=<%= @serie.soccer_field.full_address %>" target="_blank"> Open in Google Maps</a>
            </header>
            <div class="body" style="height:300px">
                <div class="map">
                    <div id="map"></div>
                </div>
            </div>
        </section>
    </div> 
</div>


<div class="row">
    <div class="col-md-12">
        <section class="widget" style="height:50px;">
            <div class="pull-left">
                <%= form_tag register_individual_series_index_path(id: @serie.id), id: "individual_form" %>
                <button id="individual" class="btn btn-primary btn-lg"><i class='fa fa-user'></i> Sign Up Indvidual</button>
            </div>
            <div class="pull-right">
                <%= form_tag register_team_series_index_path(id: @serie.id), id: "team_form" %>
                <button id="team" class="btn btn-primary btn-lg"><i class='fa fa-group'></i> Sign Up Team</button>
            </div>
        </section>
    </div>
</div>


<script src="https://checkout.stripe.com/v2/checkout.js" ></script>

<% content_for :bottom do %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script>
        $(function(){
            $("#map").width("100%").height("100%").gmap3({
                marker:{
                  address: "<%= @serie.soccer_field.full_address %>"
                },
                map:{
                    options:{
                        zoom: 30,
                        mapTypeId: google.maps.MapTypeId.TERRAIN
                    }
                }
            });
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var selected_games = [];
            var calendar = $('#calendar').fullCalendar({
                height: 345,
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },

                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var $modal = $("#edit-modal"),
                        $btn = $('#create-event');
                    $btn.off('click');
                    $btn.click(function () {
                        var title = $("#event-name").val();
                        if (title) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true
                            );
                        }
                        calendar.fullCalendar('unselect');
                    });
                    $modal.modal('show');
                    calendar.fullCalendar('unselect');
                },
                editable: false,
                droppable: false,
                events: JSON.parse('<%= @games.to_json.html_safe%>')
            });

            $("#calendar-switcher").find("label").click(function(){
                calendar.fullCalendar( 'changeView', $(this).find('input').val() )
            });
            $('#calendar').fullCalendar('gotoDate', new Date(Number(<%= @serie.start.to_i %>) * 1000));
        });
    $(function(){
      $('#individual').click(function(){
        var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $('#individual_form').append($input).submit();
        };

        StripeCheckout.open({
            key:         "<%= Rails.configuration.stripe[:publishable_key] %>",
            address:     false,
            amount:      $('#individual_price').val()*100,
            currency:    'cad',
            name:        'League #<%= @serie.id %> Payment',
            panelLabel:  'Pay',
            token:       token
        });
        return false;
      });
    });
    </script>
<% end %>