<ul class="nav navbar-nav navbar-right pull-right">
    <li>
        <%= form_tag destroy_user_session_path, method: :delete, id: "signout" do %><% end %>
        <%= link_to raw("<i class='fa fa-sign-out'></i>"), "#", :onclick => "$('#signout').submit()" %>    
    </li>
    <li class="visible-xs">
        <a href="#"
           class="btn-navbar"
           data-toggle="collapse"
           data-target=".sidebar"
           title="">
            <i class="fa fa-bars"></i>
        </a>
    </li>
</ul>
