<div class="row">
  <div class="<%= content_for?(:message_type) ? yield(:message_type) : 'col-md-12' %>">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% if name == :notice %>
            <strong><i class="fa fa-check"></i> </strong> 
          <% else %>
            <strong><i class="fa fa-ban"></i> </strong> 
          <% end %>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>