
<nav id="sidebar" class="sidebar nav-collapse collapse">
  <ul id="side-nav" class="side-nav">  
    <li class="<%= yield(:page_category) == "Dashboard" ? 'active' : '' %> panel"><%= link_to raw("<i class='fa fa-home'></i> <span class='name'>Dashboard</span>"), root_path %></li>
    <li class="<%= yield(:title) == "Team" ? 'active' : '' %> panel">
        <%= link_to raw("<i class='fa fa-group'></i> <span class='name'>Team</span>"), my_teams_path %>
    </li>   
    <li class="<%= yield(:title) == "Calendar" ? 'active' : '' %> panel">
        <%= link_to raw("<i class='fa fa-calendar'></i> <span class='name'>Calendar</span>"), games_path %>
    </li>    
    <li class="<%= yield(:title) == "Profile" ? 'active' : '' %> panel">
        <%= link_to raw("<i class='fa fa-user'></i> <span class='name'>Profile</span>"), current_user %>
    </li>
    <li class="<%= yield(:title) == "Feeds" ? 'active' : '' %> panel">
        <%= link_to raw("<i class='fa fa-rss'></i> <span class='name'>Feed</span>"), feeds_users_path %>
    </li> 
  </ul>
</nav>
