<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Soccerty" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Maher Manoubi">
    <meta name="verifyownership" content="25cb785fe630af8b09dadad6257b22ed" />   
    <meta charset="utf-8">
    <script type="text/javascript" src="//use.typekit.net/kgp1qmc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
  <%= render 'layouts/brand' %>

  <div class="content container">
    <br><br>
      <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  
  <%=javascript_include_tag "application" %> 
  <div id="bottom">
    <%= yield :bottom %>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34092700-2', 'soccerty.com');
    ga('send', 'pageview');
  </script>
  <!-- ends javascript -->


  </body>
</html>
