<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Soccerty" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script type="text/javascript" src="//use.typekit.net/kgp1qmc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= render 'layouts/brand' %>

    <div>
      <header class="page-header">
        <div class="navbar">
          <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <%= form_tag destroy_user_session_path, method: :delete, id: "signout" do %><% end %>
                <%= link_to raw("<i class='fa fa-sign-out'></i>"), "#", :onclick => "$('#signout').submit()" %>    
            </li>
          </ul>
        </div>
      </header>
      <div class="content container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

    <!-- starts javascript -->
    <%=javascript_include_tag "application" %> 
    
    <div id="bottom">
      <%= yield :bottom %>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34092700-2', 'soccerty.com');
      ga('send', 'pageview');
    </script>
    <!-- ends javascript -->
    
  </body>
</html>
